* {	padding: 0;	margin: 0; box-sizing: border-box;}

.f_left {
	float: left;
}

.f_right {
	float: right;
}

@media (max-width: 800px){
	.noLowRes {
		max-width: 0 !important;
		max-height: 0 !important;
		margin: 0 !important;
		overflow: hidden !important;
	}
}

body {
	font-family: 'Lato', sans-serif;
	background-color: #c0c0c0;
	color: #fff;
	margin: 0px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	height: 100vh;
}

header {
	order: 1;
	background-color: #FFF;
}

	header .head_sup {
		background-color: #FFF;
		height: 54px;
		max-width: 960px;
		width: 100%;
		padding: 10px 0;
		margin: 0 auto;
	}

		header .head_sup:after {
			content: "";
			display: block;
			clear: both;
		}

		header .head_sup ul li {
			margin: 8px 10px 0 10px;
			display: inline-block;
			font-weight: 700;
			color: #555;
			text-transform: uppercase;
			font-size: 14px;
		}

			header .head_sup ul li a {
				text-decoration: none;
				color: inherit;
			}

				header .head_sup ul li a + a {
					margin-left: 5px;
				}

				header .head_sup ul li a.selected {
					border-bottom: 2px solid #2BA6CB;
				}

			header .head_sup ul li img {
				position: relative;
				top: 2px;
			}

	header .head {
		background-color: #f6a634;
		height: 112px;
	}

	header .nav {
		background-color: #e59326;
		height: 56px;
	}

section {
	display: -webkit-flex;
	-webkit-order: 2;
	-webkit-flex-grow: 1;
	display: flex;
	order: 2;
	flex-grow: 1;
	position: relative;
}

	section #viewport {
		-webkit-order: 1;
		-webkit-flex-grow: 1;
		order: 1;
		flex-grow: 1;
		position: relative;
	}

		section #viewport canvas {
			position: absolute;
			top: 0;
			left: 0;
		}

		section #viewport .title {
			position: absolute;
			top: 10px;
			left: 20px;
			font-size: 30px;
			font-weight: 300;
			margin: 0;
			color: #333;
			z-index: 1;
			text-transform: capitalize;
		}

		section #viewport .toolbuttons {
			background-color: rgba(255,255,255, .5);
			border-radius: 2px;
			padding: 5px;

			position: absolute;
			right: 26px;
			top: 20px;
			z-index: 1;
			transition: right .5s ease-in-out;
		}

			section.collapsed #viewport .toolbuttons {
				right: 82px;
			}

			section #viewport .toolbuttons a {
				display: inline-block;
				color: #fff;
				background-color: #e59326;
				font-size: 12px;
				font-weight: 700;
				text-transform: uppercase;
				height: 28px;
				margin: 5px;
				padding: 5px;
				border: 1px solid transparent;
				border-radius: 2px;
				text-decoration: none;
			}

				section #viewport .toolbuttons a.selected {
					color: #e59326;
					background-color: #fff;
				}

				section #viewport .toolbuttons a img {
					vertical-align: middle;
					position: relative;
					top: -1px;
				}

				section #viewport .toolbuttons a span {
					display: inline-block;
					margin: 0 5px 0 3px;
					max-width: 150px;
					white-space: nowrap;
					transition: max-width .3s ease-in-out;
				}

			section #viewport .toolbuttons #toggleFullscreen:before {
				content: url("img/IDEMAP-3D_icon_maximizar.svg");
				vertical-align: sub;
			}

			section.fullscreen #viewport .toolbuttons #toggleFullscreen:before {
				content: url("img/IDEMAP-3D_icon_minimizar.svg");
			}


		section #viewport #cameraToolbuttons {
			top: 80px;
			background-color: transparent;
		}

			section #viewport #cameraToolbuttons .background {
				background-color: rgba(255,255,255, .5);
				border-radius: 2px;
				width: 50px;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
			}

			section #viewport #cameraToolbuttons a {
				display: block;
				height: 30px;
				padding-right: 23px;
				max-width: 30px;
				transition: max-width ease-in-out .5s;
				overflow: hidden;
				position: relative;
			}

				section #viewport #cameraToolbuttons a:after {
					position: absolute;
					right: 0;
					top: 6px;
					padding-right: 5px;
					background-color: #e59326;
				}

					section #viewport #cameraToolbuttons > a.selected:after {
						background-color: #ffffff;
					}

			section #viewport #cameraToolbuttons > a span {
				display: none;
				position: relative;
				top: 1px;
			}

				section #viewport #cameraToolbuttons:hover > a {
					max-width: 120px;
				}
					
					section #viewport #cameraToolbuttons:hover > a span {
						display: inline-block;
					}
				section #viewport .toolbuttons #toolPanButton:after{
					content: url('img/IDEMAP-3D_icon_mover-2.svg');
				}

					section #viewport .toolbuttons #toolPanButton.selected:after{
						content: url('img/IDEMAP-3D_icon_mover.svg');
					}

				section #viewport .toolbuttons #toolRotateButton:after{
					content: url('img/IDEMAP-3D_icon_girar-2.svg');
					vertical-align: sub;
				}

					section #viewport .toolbuttons #toolRotateButton.selected:after{
						content: url('img/IDEMAP-3D_icon_girar.svg');
					}

				section #viewport .toolbuttons #toolZoomButton:after{
					content: url('img/IDEMAP-3D_icon_zoom-2.svg');
					vertical-align: sub;
				}

					section #viewport .toolbuttons #toolZoomButton.selected:after{
						content: url('img/IDEMAP-3D_icon_zoom.svg');
					}


		section #viewport #loadingInfo {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -23px;
			margin-left: -87px;
			height: 46px;
			width: 174px;
			padding: 2px 8px;
			border-radius: 2px;
			background-color: #fff;
			color: #555;
			font-size: 16px;
			z-index: 1;
			display: none;
		}

			section #viewport #loadingInfo.show {
				display: block;
			}

			section #viewport #loadingInfo img {
				vertical-align: middle;
			}

			section #viewport #loadingInfo span {
				margin: 0 10px 0 2px;
				position: relative;
				top: 2px;
			}

		section #viewport .copyright {
			position: absolute;
			right: 18px;
			bottom: 8px;
			color: #fff;
			font-size: 11px;
			margin: 0;
			z-index: 1;
		}

	section #townList {
		-webkit-order : 2;
		order : 2;
		width: 264px;
		max-width: 264px;
		background-color: #f6f6f6;
		color: #555;
		overflow-x: hidden;
		transition: max-width .3s ease-in-out;
		z-index: 2;
	}

		section.collapsed #townList {
			max-width: 0;
		}

		section #townList .header {
			padding: 10px 10px 10px 20px;
			background-color: #ececec;
			display: -webkit-flex;
			-webkit-flex-direction: row;
			display: flex;
			flex-direction: row;
			align-items: flex-end;
		}

			section #townList .header h4 {
				font-size: 12px;
				margin: 0;
				font-weight: 700;
				text-transform: uppercase;
				display: inline-block;
				-webkit-order: 1;
				-webkit-flex-grow: 1;
				order: 1;
				flex-grow: 1;
			}

			section #townList .toggleTownList {
				display: inline-block;
				float: right;
				-webkit-order: 2;
				order: 2;
			}

				section #townList .toggleTownList img {
					vertical-align: bottom;
				}

		section #townList ul li {
			padding: 9px 20px;
			border-top: 1px solid #d1d1d1;
			list-style: none;
			max-height: 38px;
		}
		
			section #townList ul li a {
				font-size: 16px;
				color: inherit;
				text-decoration: none;
				white-space: nowrap;
			}

				section #townList ul li a.selected {
					font-weight: 900;
					color: #e59326;
				}

					section #townList ul li a.selected:before {
						content: url('img/IDEMAP-3D_icon_seleccion.svg');
						display: inline-block;
						vertical-align: middle;
						margin-right: 9px;
					}

	section > .toggleTownList {
		position: absolute;
		right: 0;
		top: 6px;
		z-index: 1;

		color: #fff;
		background-color: #e59326;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		margin-left: 16px;
		padding: 5px 9px;
		border-radius: 2px;
		text-decoration: none;
	}

		section > .toggleTownList a img {
			vertical-align: bottom;
		}

#panControl {
	position: absolute;
	top: 60px;
	right: 27px;
	background-color: rgb(8, 118, 215);
	height: 25px;
	width: 25px;
	z-index: 1;
}
